[Unit]
Description=Climate Box
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/student/2020-2021-projectone-ThysEmiel/Code/Backend/app.py 
WorkingDirectory=/home/student/2020-2021-projectone-ThysEmiel/Code/Backend
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target